<!-- ====================================
         ———	FOOTER
         ===================================== -->
<footer class="footer-bg-img">
    <!-- Footer Color Bar -->
    <div class="color-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col color-bar bg-warning"></div>
                <div class="col color-bar bg-danger"></div>
                <div class="col color-bar bg-success"></div>
                <div class="col color-bar bg-info"></div>
                <div class="col color-bar bg-purple"></div>
                <div class="col color-bar bg-pink"></div>
                <div class="col color-bar bg-warning d-none d-md-block"></div>
                <div class="col color-bar bg-danger d-none d-md-block"></div>
                <div class="col color-bar bg-success d-none d-md-block"></div>
                <div class="col color-bar bg-info d-none d-md-block"></div>
                <div class="col color-bar bg-purple d-none d-md-block"></div>
                <div class="col color-bar bg-pink d-none d-md-block"></div>
            </div>
        </div>
    </div>
    <div class="pt-8 pb-7  bg-repeat" style="background-image: url(../Content/Template/assets/img/background/footer-bg-img-1.png);">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 col-xs-12">
                    <a class="mb-6 d-block" href="index.html">
                        <img class="img-fluid d-inline-block w-50 lazyestload" data-src="../Content/Template/assets/img/logo-footer.png" src="../Content/Template/assets/img/logo-footer.png">
                    </a>
                    <p class="mb-6">
                        <h5 class="text-white">
                        At Fidelity Pension Managers Limited (Fidelity Pension), we recognise that good administration, which devolves to efficient and effective processes, systems and controls; and, prompt and qualitative services, are the bedrock of a well-run pension scheme.</h5>
                    </p>
                    <!--<p class="mb-6">
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.
                    </p>-->
                    <p>
                        <h5>
                            <a href="https://mail.fidelitypensionmanagers.com/owa" target="_blank">Staff E-Mail</a>
                        </h5>
                    </p>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-12">
                    <h4 class="section-title-sm font-weight-bold text-white mb-6">Useful Links</h4>
                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <a href="http://www.pencom.gov.ng/" target="_blank">
                                <h5><i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>Pencom</h5>
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="http://www.firstpensioncustodian.com/" target="_blank">
                                <h5><i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>First Pension Custodian</h5>
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="http://www.diamondpfc.com/" target="_blank">
                              <h5>  <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>Diamond Pension Custodian</h5>
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="https://ubapensions.com/" target="_blank">
                              <h5>  <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>UBA Pension Custodian</h5>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#" target="_blank">
                              <h5>  <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>
                                Download Schedule of Contribution</h5>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#" target="_blank">
                             <h5>   <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>
                                Guideline for Crossborder Arrangement</h5>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="http://www.penop.com.ng/" target="_blank">
                               <h5> <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>
                                Pension Fund Operators Association of Nigeria (PenOp)</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                    <h4 class="section-title-sm font-weight-bold text-white mb-6">Recent Twitter Post</h4>
                    <a class="twitter-timeline" data-width="300" data-height="320" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/fidelitypfa?ref_src=twsrc%5Etfw">Tweets by fidelitypfa</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">
                    <h4 class="section-title-sm font-weight-bold text-white mb-6">Recent Facebook Post</h4>

                    <div class="fb-page" data-href="https://www.facebook.com/Fidelitypfa/" data-tabs="timeline" data-width="300" data-height="320" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Fidelitypfa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Fidelitypfa/">Fidelity Pension Managers Limited</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copy Right -->
    <div class="copyright">
        <div class="container">
            <div class="row py-4 align-items-center">
                <div class="col-sm-7 col-xs-12 order-1 order-md-0">
                    <p class="copyright-text"> © @DateTime.Now.Year Copyright Fidelity Pension Managers Ltd. Powered by <a href="#" target="_blank">#TechInnovate</a></p>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <ul class="list-inline d-flex align-items-center justify-content-md-end justify-content-center mb-md-0">
                        <li class="mr-3">
                            <a class="icon-rounded-circle-small bg-success" href="javascript:void(0)">
                                <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="mr-3">
                            <a class="icon-rounded-circle-small bg-success" href="javascript:void(0)">
                                <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="mr-3">
                            <a class="icon-rounded-circle-small bg-danger" href="javascript:void(0)">
                                <i class="fa fa-linkedin text-white" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="mr-3">
                            <a class="icon-rounded-circle-small bg-info" href="javascript:void(0)">
                                <i class="fa fa-instagram text-white" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>









