@{
    ViewBag.Title = "About";
}



<section class="pt-7 pb-9 pt-md-10" style="background-image: url(../Content/Template/assets/img/Abouts.jpg)">
    <div class="container">
        <div class="breadcrumb-holder">
            <div>
                <h1 class="text-center text-white"><b>About US</b></h1>
                <ul class="breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a class="text-white" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item text-white active" aria-current="page">

                    </li>
                </ul>
            </div>
        </div>
    </div>

</section> 
  
    <section class="py-lg-7 py-md-10">
        <div class="container">
            <div class="row">
               
                <div class="col-md-12 col-xs-12">

                    <h1><b>Our Company</b></h1>
                    <br />
                    <div class="accordion mb-8" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <b>Who we are</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5> <strong> History:</strong> Fidelity Pension Managers Limited was incorporated on September 22, 2004 as Alliance Management Limited. The name of theCompany was changed on March 30, 2007 to reflect the nature of our business as a pension administrator further to obtaining a licence as anadministrator from the National Pension Commission and also to identify with the Fidelity brand at the time. In compliance with, and in excessof the minimum share capital requirement for pension funds administrators of N1Billion, our authorised and paid up share capital is N2Billion.</h5>


                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                                            aria-controls="collapseOne">
                                      <b>  Mission, Vision & Core Values</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body"><h5>
                                <strong> Mission</strong> To provide safe and rewarding pension services for a happy retirement. <br /><br />
                                <strong> Vision</strong> To be a leading and most innovative PFA, managing pension assets transparently and profitably. <br /><br />
                                <strong> Core Values</strong> T -Trust, R - Respect, A - Ambition, I - Innovation, T - Teamwork, S - Speed/Safety.
                                    </h5>
</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                       <b> Shareholders</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5>Our shareholders include FSL Securities Limited, Financial Advisory and Investment Consultants Limited, ICMG Securities Limitedand the Fidelity Pension Managers Staff Trust amongst others.</h5>
</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                       <b> Corporate Governance</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5>
                                        Our Corporate Governance framework is designed to promote the smooth running of the operations of the Company in accordance with theprovisions of the Pension Reform Act 2014 (PRA 2014), Companies and Allied Matters Act, 2004, the Code of Corporate Governance forLicensed Pension Operators, 2008 (“the Code”), the various Guidelines/Circulars issued by the National Pension Commission (“the Commission” or “PenCom”), any other regulatory or statutory provisions in the  Federal Republic of Nigeria as well as globally accepted bestpractices on governance and ethics.

                                        <br /><br />At <strong>Fidelity Pension,</strong> we understand that the strength of any robust governance structure starts from the top, with a reputable chairman leading aboard composed of independent, well-informed directors, who give priority to strategic planning, ensure that standards exist to promote ethicalbehaviour throughout the organization, and seek continuous improvement in governance practices.
                                        </h5>
</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4"
                                            aria-expanded="false" aria-controls="collapseThree">
                                       <b> Investment Philosophy</b>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5>
                                        We believe that financial markets are unpredictable in the short-term, but offer the potential to generate wealth over the long-term. Investing is a long-term process that has historically paid the greatest rewards to those adhering to a consistent and disciplined approach that seeks to remove emotion from the investment decision-making process.<br /><br />

                                        Each of our process-driven, time-tested strategies are managed by our Investment Committee, comprised of a dedicated team of portfolio managers as well as fundamental and technical analysts and strategists. This experienced team seeks to employ a repeatable, research-driven process that:  Focuses on selecting high-quality, well-run companies determined through disciplined investment selection and due diligence.  Is rigorously evaluated by our analysts and Investment Committee prior to implementing a new investment idea.  Applies a sequence of screens that eliminate investments deemed to be outside of a portfolio's risk profile or the established investment themes.  Develops investment strategies based upon ultimate end-goal themes:
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
