@{
    ViewBag.Title = "Careers";
}

<section class="pt-7 pb-9 pt-md-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><b>Explore a career at FidPenson</b></h2>
                <br />


                <p class="well-lg">
                    <h5>
                        At FidPension, you get the opportunity to challenge yourself and learn new skills. You also get to surround yourself with people who strive to achieve a common mission- to provide safe and rewarding pension services for a happy retirement. We are building a culture that nurtures a collaborative environment and supports our differences based on our core values: Trust, Respect, Ambition, Innovation, Teamwork, Speed & Safety.
                        <br />
                        Fill the details below;
                    </h5>
                </p>

            </div>
        </div>
</section>
<section class="py-lg-7 py-md-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="" action="#" method="post">
                    <form>
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control border-warning" placeholder="Surname" required="">
                                </div>
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" class="form-control border-warning" placeholder="Email" required="">
                                </div>
                                <div class="form-group form-group-icon">
                                    <input type="text" class="form-control border-warning" placeholder="Years Of Experience" required="">
                                </div>
                                <div class="form-group form-group-icon">
                                    <h5> <label for="exampleFormControlSelect1"><b>Department of interest</b></label></h5>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Operations</option>
                                        <option>Finance and Admin</option>
                                        <option>Internal Audit/Risk</option>
                                        <option>Compliance</option>
                                        <option>Legal/Corporate Communications</option>
                                        <option>Investment</option>
                                        <option>Internship</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control border-warning" placeholder="Firstname" required="">
                                </div>
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-phone"></i>
                                    <input type="number" class="form-control border-warning" placeholder="Phone number" required="">
                                </div>
                                

                            </div>
                           <div class="col-lg-6"></div>
                            <div class="col-6">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-comments"></i>
                                    <textarea class="form-control border-info" placeholder="Write message" rows="6"></textarea>
                                </div>
                                <br />
                                <h6><b> Upload Resume (2MB) Max</b></h6>
                                  <input type="file" name="pic" accept="">
                             
                            </div>
                            <div class="col-12">
                                <div class="text-sm-left mt-6">
                                    <button type="submit" class="btn btn-danger text-uppercase">
                                        Send Message
                                    </button>
                                 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<br />
<br />
