@{
    ViewBag.Title = "Drop A Message";
}

<section class="py-lg-7 py-md-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center"><b>Drop A Message</b></h1>
                <br />
                <br />
                <div class="" action="#" method="post">
                    <form>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control border-warning" placeholder="First name" required="">
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" class="form-control border-warning" placeholder="Email address" required="">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-phone"></i>
                                    <input type="text" class="form-control border-warning" placeholder="Phone" required="">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-book"></i>
                                    <input type="text" class="form-control border-warning" placeholder="Subject" required="">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group form-group-icon">
                                    <i class="fa fa-comments"></i>
                                    <textarea class="form-control border-info" placeholder="Write message" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="text-sm-center mt-6">
                                    <button type="submit" class="btn btn-danger text-uppercase">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
