@{
    ViewBag.Title = "Gallery";
}

<section class="pt-9 pb-7 py-md-10" id="gallery">
    <div class="container">
        <div class="section-title justify-content-center wow fadeInUp">
            <span class="shape shape-left bg-info"></span>
            <h2 class="text-black">Our Gallery</h2>
            <span class="shape shape-right bg-info"></span>
        </div>
        <div class="d-flex justify-content-center wow fadeInUp">
            <div id="filters" class="button-group">
                <button class="button is-checked" data-filter="*">View All</button>
                <button class="button" data-filter=".charity">School Fair</button>
                <button class="button" data-filter=".awards">Awards</button>
                <button class="button" data-filter=".agm2018">Annual General Meeting 2018</button>
                <button class="button" data-filter=".agm2019">Annual General Meeting 2019</button>
                <button class="button" data-filter=".anualRetreet">Annual Retreat 2019</button>
                <button class="button" data-filter=".CHFTE">CSR Home For The Elderly</button>
                <button class="button" data-filter=".CustomerService">Customer Service Week 2018</button>
                <button class="button" data-filter=".QPR">Quaterly Performance Review</button>
                <button class="button" data-filter=".SMW2018">Social Media Week 2018</button>
                <button class="button" data-filter=".UbaPenGames">UBA Pension Games 2018</button>
            </div>
          
        </div>
        <hr />
        <div id="gallery-grid">
            <div class="row grid wow fadeInUp">
               
                <div class="col-md-4 col-lg-3 col-xs-12 element-item awards">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Awards/award_from_Workforce.jpg" src="../Content/Template/assets/img/gallery/Awards/award_from_Workforce.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Awards/award_from_Workforce.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item awards">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Awards/award_from_Workforce_2.jpg" src="../Content/Template/assets/img/gallery/Awards/award_from_Workforce_2.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Awards/award_from_Workforce_2.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item awards">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Awards/Award_from_the_State_of_Osun.jpg" src="../Content/Template/assets/img/gallery/Awards/Award_from_the_State_of_Osun.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Awards/Award_from_the_State_of_Osun.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5247.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5247.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5247.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5209.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5209.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5209.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5253.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5253.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5253.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5295.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5295.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5295.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5302.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5302.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5302.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5385.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5385.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5385.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5396.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5396.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5396.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5397.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5397.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5397.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5420.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5420.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5420.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5456.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5456.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5456.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5460.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5460.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5460.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5462.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5462.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5462.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
    <div class="media media-hoverable justify-content-center">
        <div class="position-relative w-100">
            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5495.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5495.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5495.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5514.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5514.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2018/IMG_5514.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1143.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1143.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1143.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1167.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1167.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1167.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1169.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1169.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1169.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1208.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1208.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1208.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
             
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1248.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1248.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1248.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1253.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1253.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1253.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1258.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1258.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1258.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                <div class="media media-hoverable justify-content-center">
                     <div class="position-relative w-100">
                    <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1260.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1260.jpg" alt="gallery-img">
                    <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1260.jpg">
                <div class="btn btn-squre">
                    <i class="fa fa-search-plus"></i>
                </div>
            </a>
        </div>
    </div>
</div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item agm2019">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1285.jpg" src="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1285.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_General_Meeting_2019/IMG_1285.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9550.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9550.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9550.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9551.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9551.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9551.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9568.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9568.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9568.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9578.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9578.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9578.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9606.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9606.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9606.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9628.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9628.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9628.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9634.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9634.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9634.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9638.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9638.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9638.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item anualRetreet">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9643.jpg" src="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9643.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Annual_Retreat_2019/IMG_9643.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/CSR_Image 2.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/CSR_Image 2.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/CSR_Image 2.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1540.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1540.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1540.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1551.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1551.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1551.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1558.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1558.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1558.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1567.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1567.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1567.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1581.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1581.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1581.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1588.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1588.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1588.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CHFTE">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1604.jpg" src="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1604.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/CSR_Home_For_The_Elderly/IMG_1604.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_1.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_1.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_1.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_2.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_2.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_2.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_4.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_4.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_4.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_6.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_6.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_6.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_9.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_9.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_9.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_11.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_11.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_11.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_12.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_12.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_12.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_13.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_13.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_13.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item CustomerService">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_14.jpg" src="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_14.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Customer_Service_Week_2018/Day_14.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2861.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2861.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2861.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2868.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2868.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2868.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2872.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2872.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2872.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2941.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2941.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2941.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3079.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3079.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3079.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2999.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2999.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_2999.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3006.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3006.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3006.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3015.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3015.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3015.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item QPR">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3037.jpg" src="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3037.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Quaterly_Performance_Review/IMG_3037.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                
                <div class="col-md-4 col-lg-3 col-xs-12 element-item SMW2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2685.jpeg" src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2685.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2685.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item SMW2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2688.jpeg" src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2688.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2688.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item SMW2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/15640567170.jpeg" src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/15640567170.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Social_Media_Week_2018/15640567170.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-lg-3 col-xs-12 element-item SMW2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2798.jpeg" src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2798.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2798.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item SMW2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2813.jpeg" src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2813.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2813.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item SMW2018">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2817.jpeg" src="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2817.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/Social_Media_Week_2018/IMG_2817.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3324.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3324.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3324.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3348.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3348.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3348.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3417.jpg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3417.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3417.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3483.jpg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3483.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3483.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3485.jpg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3485.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3485.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3492.jpg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3492.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3492.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3500.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3500.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3500.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3616.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3616.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3616.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3618.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3618.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3618.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3890.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3890.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3890.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3920.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3920.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3920.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3925.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3925.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3925.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3986.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3986.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_3986.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4000.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4000.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4000.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4068.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4068.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4068.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4077.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4077.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4077.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4406.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4406.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4406.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4418.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4418.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4418.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4538.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4538.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4538.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4900.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4900.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4900.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4997.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4997.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_4997.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_5001.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_5001.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_5001.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item UbaPenGames">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_5018.jpeg" src="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_5018.jpeg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/UBA_Pension_Games_2018/IMG_5018.jpeg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-lg-3 col-xs-12 element-item charity">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/gallery-img2.jpg" src="../Content/Template/assets/img/gallery/gallery-img2.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/gallery-lg-img2.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/gallery-img4.jpg" src="../Content/Template/assets/img/gallery/gallery-img4.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/gallery-lg-img4.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/gallery-img6.jpg" src="../Content/Template/assets/img/gallery/gallery-img6.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/gallery-lg-img6.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="../Content/Template/assets/img/gallery/gallery-img7.jpg" src="../Content/Template/assets/img/gallery/gallery-img7.jpg" alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="../Content/Template/assets/img/gallery/gallery-lg-img7.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
