
@{
    ViewBag.Title = "Management Team";
}

<section class="pt-7 pb-9 pt-md-10" style="background-image: url(../Content/Template/assets/img/ManagementTeam1.jpg)">
    <div class="container">
        <div class="breadcrumb-holder">
            <div>
                <h1 class="text-center text-white">Management Team</h1>
                <ul class="breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a class="text-white" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item text-white active" aria-current="page">

                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
<section class="pt-7 pb-9 pt-md-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><b>MEET OUR LEADERS</b></h1>
                <br />


                <p class="well-lg">
                    <h5>
                        As a pension administrator serving a growing clientele in Nigeria as well as cross border arrangements, Fidelity Pension Managers Limited relies greatly on the guidance provided by its strong team of leaders. The decades of experience these leaders have garnered ensures that they apply their knowledge to further the Company’s objective of being among the most trusted and reputable pension funds administrators in the industry.
                        <br />
                        <br />
                        Consequently, the Management Team of Fidelity Pension Managers Limited is an essential component of its governance and operational structure. This team is responsible for analyzing the Company’s goals and objectives and also implements and drives the strategies our employees require to achieve success. Members of this team individually and collectively ensure that expectations and goals are clear, conflicting priorities are addressed and readjusted as needed, objectives and goals are being monitored, met and/or exceeded.
                        <br />
                        <br />
                        The composition of the Management Team reflects general and specific legislative and regulatory requirements for companies and pension administrators, applicable corporate governance recommendations as well as internal standards. Our experienced team therefore includes the brightest players with strategy, finance, investment, operations, compliance, marketing, audit, risk, information technology and legal capabilities. Together, they bring a diverse and relevant range of experiences instrumental in moving the Company forward beyond existing frontiers.
                    </h5> 
                </p>

            </div>
        </div>
</section>

<section class="pt-9 pb-2 py-md-10 bg-purple" id="teachers">
    <div class="container">
        <div class="text-center mb-2 mb-md-8 wow fadeInUp">
            <span class="shape shape-left bg-danger"></span>
            <h1 class="text-white"><b>Meet Our Management Team</b></h1>
            <span class="shape shape-right bg-danger"></span>
        </div>
        <div class="team-slider owl-carousel owl-theme wow fadeInUp" dir="ltr">
            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="../Content/Template/assets/img/ManagementTeam/management8.jpg" src="~/Content/Template/assets/img/ManagementTeam/management8.jpg" />
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body text-center">
                    <a class="font-size-20 font-weight-medium d-block" href="javascript:void(0)" data-toggle="modal"
                       data-target="#modal-DONALD">DONALD ONUOHA</a>
                    <span class="text-white">GROUP HEAD, BUSINESS DEVELOPMENT | SOUTH</span>
                </div>
            </div>
            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="../Content/Template/assets/img/ManagementTeam/management7.jpg" src="~/Content/Template/assets/img/ManagementTeam/management7.jpg" alt="carousel-img" />
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body position-relative text-center pb-0">
                    <a class="font-size-20 font-weight-medium d-block" href="javascript:void(0)" data-toggle="modal"
                       data-target="#modal-NOEL">NOEL ORJI</a>
                    <span class="text-white">COMPANY SECRETARY | HEAD LEGAL AND CORPORATE COMMUNICATIONS</span>
                </div>
            </div>
            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="../Content/Template/assets/img/ManagementTeam/management4-1.jpg" src="~/Content/Template/assets/img/ManagementTeam/management4-1.jpg" carousel-img" />
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body position-relative text-center pb-0">
                    <a class="font-size-20 font-weight-medium d-block" href="javascript:void(0)" data-toggle="modal"
                       data-target="#modal-AUSTINE">AUSTINE EJOLA</a>
                    <span class="text-white">GROUP HEAD, INVESTMENT</span>
                </div>
            </div>
            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="../Content/Template/assets/img/ManagementTeam/img_92982.jpg" src="~/Content/Template/assets/img/ManagementTeam/img_92982.jpg" />
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body position-relative text-center pb-0">
                    <a class="font-size-20 font-weight-medium d-block" href="javascript:void(0)" data-toggle="modal"
                       data-target="#modal-EMMANUEL">EMMANUEL EMENIKE</a>
                    <span class="text-white">GROUP HEAD, INFORMATION TECHNOLOGY (IT)</span>
                </div>
            </div>
            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="../Content/Template/assets/img/ManagementTeam/management1a.jpg" src="~/Content/Template/assets/img/ManagementTeam/management1a.jpg" alt="carousel-img" />
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body position-relative text-center pb-0">
                    <a class="font-size-20 font-weight-medium d-block" href="javascript:void(0)" data-toggle="modal"
                       data-target="#modal-VITALIS">VITALIS IKE</a>
                    <span class="text-white">GROUP HEAD, FINANCE AND ADMIN</span>
                </div>
            </div>
            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="../Content/Template/assets/img/ManagementTeam/management8(1).jpg" src="~/Content/Template/assets/img/ManagementTeam/management8(1).jpg" alt="carousel-img" />
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body position-relative text-center pb-0">
                    <a class="font-size-20 font-weight-medium d-block" href="javascript:void(0)" data-toggle="modal"
                       data-target="#modal-MUYIWA">MUYIWA AFOLABI</a>
                    <span class="text-white">GROUP HEAD, OPERATIONS</span>
                </div>
            </div>
        </div>

    </div>
</section>

<br />
<br />
<br />
<br />
<section class="py-lg-7 py-md-10"></section>

<!-- Modal Donald -->
<div class="modal fade" id="modal-DONALD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="bg-success rounded-top p-2">
                <h3 class="text-white font-weight-bold mb-0 ml-2">Details</h3>
            </div>
            <div class="border rounded-bottom-md border-top-0">
                <div class="">
                    <!-- ====================================
                    ———	TEACHERS DETAILS
                    ===================================== -->
                    <section class="py-3 py-md-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="image mb-5 mb-md-0">
                                        <img class="w-100 rounded" src="~/Content/Template/assets/img/ManagementTeam/management8.jpg" alt="team-1.jpg">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <h2 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">DONALD ONUOHA</h2>
                                    <h6 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">CHAIRMAN</h6>
                                    <p class="text-muted mb-5">
                                        Donald Onuoha is a graduate of Chemical Engineering from the Institute of Management and Technology, Enugu. He also holds a Post Graduate Diploma in Business Administration and a Master’s Degree in Business Administration, both from the University of Uyo, Akwa Ibom State.
                                        <br />
                                        <br />
                                        He started his professional career as a Business Development Manager with DubCom Limited in October 2004, from where he joined ARM Pension Managers (PFA) Limited in April 2006. He worked with ARM Pension Managers as a Team Lead and thereafter rose to the position of Regional Sales Manager East, a position he led up till September 2017. Donald then got an appointment with Pensions Alliance Limited (PAL Pensions) as Regional Manager, South-South in September 2017 and continued in that role until he joined Fidelity Pension Managers.
                                        <br />
                                        <br />
                                        He has attended several local and international trainings on investment planning, retirement planning, leadership, business writing and holds a certificate in Financial Planning from Florida State University.
                                        <br />
                                        <br />
                                        Donald is an Associate of the National Institute of Marketing of Nigeria and is a Certified Wealth Management Professional.
                                    </p>
                                   
                                    <div class="mb-7">
                                        <a class="icon-rounded-circle-small bg-warning mr-2" href="javascript:void(0)">
                                            <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-success mr-2" href="javascript:void(0)">
                                            <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-danger mr-2" href="javascript:void(0)">
                                            <i class="fa fa-linkedin text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-info mr-2" href="javascript:void(0)">
                                            <i class="fa fa-instagram text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-purple" href="javascript:void(0)">
                                            <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Noel -->
<div class="modal fade" id="modal-NOEL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="bg-success rounded-top p-2">
                <h3 class="text-white font-weight-bold mb-0 ml-2">Details</h3>
            </div>
            <div class="border rounded-bottom-md border-top-0">
                <div class="">
                    <!-- ====================================
                    ———	TEACHERS DETAILS
                    ===================================== -->
                    <section class="py-3 py-md-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="image mb-5 mb-md-0">
                                        <img class="w-100 rounded" src="~/Content/Template/assets/img/ManagementTeam/management7.jpg" alt="team-2.jpg">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <h2 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">NOEL ORJI</h2>

                                    <h6 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">COMPANY SECRETARY | HEAD LEGAL</h6>
                                    <p class="text-muted mb-5">
                                        Noel Orji holds a Bachelor’s Degree in Law from the University of Benin, Benin City, Edo State and a Master of Laws from the University of London, UK.  He is currently pursuing a Master’s Degree in Business Administration with specialization in Finance and Investment at the Ahmadu Bello University, Zaria.
                                        <br />
                                        <br />
                                        He was called to the Nigerian Bar in the year 2007 and has over 10 years post qualification work experience. He had short stints with the Prosecutions Team of the Gombe State Police Command and Messrs. J. Kolchi & Co (a private law firm) before working briefly in the Transaction Services Division of Fidelity Bank Plc. Thereafter he joined the Legal Services Division of Fidelity Bank where he worked for a number of years in different units. He then joined the Legal Division of Diamond Bank Plc where he handled different responsibilities, such as legal advisory, documentation, risk management and compliance support, culminating with the leadership of the Bank’s litigation team for a period of over five years from January 2013.
                                        <br />
                                        <br />
                                        Noel is a member of the Nigeria Bar Association and the Chartered Institute of Arbitrators, UK.
                                    </p>
                                   

                                    <div class="mb-7">
                                        <a class="icon-rounded-circle-small bg-warning mr-2" href="javascript:void(0)">
                                            <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-success mr-2" href="javascript:void(0)">
                                            <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-danger mr-2" href="javascript:void(0)">
                                            <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                                        </a>
                                        @*<a class="icon-rounded-circle-small bg-info mr-2" href="javascript:void(0)">
                                                <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                                            </a>
                                            <a class="icon-rounded-circle-small bg-purple" href="javascript:void(0)">
                                                <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                                            </a>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Austine -->
<div class="modal fade" id="modal-AUSTINE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="bg-success rounded-top p-2">
                <h3 class="text-white font-weight-bold mb-0 ml-2">Details</h3>
            </div>
            <div class="border rounded-bottom-md border-top-0">
                <div class="">
                    <!-- ====================================
                    ———	TEACHERS DETAILS
                    ===================================== -->
                    <section class="py-3 py-md-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="image mb-5 mb-md-0">
                                        <img class="w-100 rounded" src="~/Content/Template/assets/img/ManagementTeam/management4-1.jpg" alt="team-3.jpg">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <h2 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">AUSTINE EJOLA</h2>
                                    <h6 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">GROUP HEAD, INVESTMENT</h6>
                                    <p class="text-muted mb-5">
                                        Mr. Augustine Ejola holds a B.Sc. in Accounting from the Lagos State University Ojo, Lagos and has over 15 years hands-on experience in Financial Advisory, Accounting, Stockbroking Operations, Investment Research and Securities Trading with a solid background in bond market strategy, portfolio management and execution.
                                        <br />
                                        <br /> 
                                        He was the Head, Strategic Advisory Services of Alpha Morgan Capital Advisory Partners Limited, before that, he was in the Securities Trading & Corporate Finance Department of Planet Capital Limited where he was involved in various forms of Corporate Finance and Financial Advisory transactions. As a senior member of the fixed income/equities team, Augustine had an important role in the development and implementation of fixed income strategy across the team’s product set.
                                        <br />
                                        <br /> 
                                        He was also Chief Investment Officer/COO for PML Securities Company Limited, where he was in charge of the seamless execution of the company’s operation. Before then he was Head, Financial Advisory and Securities trading at Strategy & Arbitrage Limited where he was responsible for the management the proprietary fund of the firm.
                                        <br />
                                        <br /> 
                                        He is a Fellow of the Institute of Chartered Accountants of Nigeria (ICAN), an associate member of the Chartered Institute of Stockbrokers and a Level 2 Student of the Certified Financial Analyst Institute (CFA).
                                        <br />
                                        <br /> 


                                    </p>
                                    
                                    <div class="mb-7">
                                        <a class="icon-rounded-circle-small bg-warning mr-2" href="javascript:void(0)">
                                            <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-success mr-2" href="javascript:void(0)">
                                            <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-danger mr-2" href="javascript:void(0)">
                                            <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                                        </a>
                                        @*<a class="icon-rounded-circle-small bg-info mr-2" href="javascript:void(0)">
                                                <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                                            </a>
                                            <a class="icon-rounded-circle-small bg-purple" href="javascript:void(0)">
                                                <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                                            </a>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Emmanuel -->
<div class="modal fade" id="modal-EMMANUEL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="bg-success rounded-top p-2">
                <h3 class="text-white font-weight-bold mb-0 ml-2">Details</h3>
            </div>
            <div class="border rounded-bottom-md border-top-0">
                <div class="">
                    <!-- ====================================
                    ———	TEACHERS DETAILS
                    ===================================== -->
                    <section class="py-3 py-md-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="image mb-5 mb-md-0">
                                        <img class="w-100 rounded" src="~/Content/Template/assets/img/ManagementTeam/img_92982.jpg" alt="team-4.jpg">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <h2 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">EMMANUEL EMENIKE</h2>
                                    <h6 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">GROUP HEAD, INFORMATION TECHNOLOGY (IT)</h6>
                                    <p class="text-muted mb-5">
                                        Mr. Emmanuel C. Emenike holds a Bachelor’s Degree in Engineering from the Federal University of Technology, Owerri. He is currently pursuing a Master’s Degree in Business Administration at the MaryMount California University.
                                        <br />
                                        <br />
                                        He worked briefly with Vitafoam Plc, Ikeja as a Researcher and Quality Control Supervisor during his National Youth Service. He then joined Oak Pensions Limited as an Information Technology Officer in June 2008. He became a Senior Information Technology Analyst in March 2011, and was promoted to Assistant manager, ICT in April 2014, a position which he held till June 2017.
                                        <br />
                                        In June 2017 Emmanuel was appointed Deputy Manager and Acting Group Head, IT in recognition of his contributions to the development of the ICT infrastructure at Oak Pensions Limited.
                                        <br />
                                        Emmanuel is a Cisco Certified Network Associate and a Cyberoam Certified Network & Security Professional. He has undergone trainings in Project Management (PMP), Oracle (SQL Expert), Design and Implementation of Server Infrastructure (Microsoft Windows).
                                        <br />
                                        <br />
                                        He joins Fidelity Pension Managers Limited with abundant experience in the pension industry in general and information and communications technology in particular. His technical skills cover a variety of areas including networking, Sybase Database installation and configuration, Microsoft Windows System Configuration, Linux and MS-SQL Database administration.
                                    </p>
                                    
                                    <div class="mb-7">
                                        <a class="icon-rounded-circle-small bg-warning mr-2" href="javascript:void(0)">
                                            <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-success mr-2" href="javascript:void(0)">
                                            <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                                        </a>
                                        @*<a class="icon-rounded-circle-small bg-danger mr-2" href="javascript:void(0)">
                                                <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                                            </a>
                                            <a class="icon-rounded-circle-small bg-info mr-2" href="javascript:void(0)">
                                                <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                                            </a>
                                            <a class="icon-rounded-circle-small bg-purple" href="javascript:void(0)">
                                                <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                                            </a>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Vitalis -->
<div class="modal fade" id="modal-VITALIS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="bg-success rounded-top p-2">
                <h3 class="text-white font-weight-bold mb-0 ml-2">Details</h3>
            </div>
            <div class="border rounded-bottom-md border-top-0">
                <div class="">
                    <!-- ====================================
                    ———	TEACHERS DETAILS
                    ===================================== -->
                    <section class="py-3 py-md-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="image mb-5 mb-md-0">
                                        <img class="w-100 rounded" src="~/Content/Template/assets/img/ManagementTeam/management1a.jpg" alt="team-6.jpg">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <h2 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">VITALIS IKE</h2>
                                    <h6 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">GROUP HEAD, FINANCE AND ADMIN</h6>
                                    <p class="text-muted mb-5">
                                        Mr. Vitalis Ike is an accounting graduate from the Federal Polytechnic Nekede, Owerri, Imo State. He is also an associate of both the Institute of Chartered Accountants of Nigeria and the Chartered Institute of Stockbrokers.  He has over fifteen years’ experience in financial services. He worked with Belfry Investment and Securities Limited between 2002 and 2008 where he doubled as both company accountant and manager overseeing administration, reporting directly to the Managing Director.
                                        <br />
                                        <br />
                                        He joined the services of Fidelity Pension Managers Limited as a Senior Pension Executive, in charge of Investment Research & Analysis in August 2008. A position he held until December 2012, when he was appointed to oversee the activities of the Finance and Administration Department.
                                    </p>
                                   
                                    <div class="mb-7">
                                        <a class="icon-rounded-circle-small bg-warning mr-2" href="javascript:void(0)">
                                            <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-success mr-2" href="javascript:void(0)">
                                            <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                                        </a>
                                        @*<a class="icon-rounded-circle-small bg-danger mr-2" href="javascript:void(0)">
                                                <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                                            </a>
                                            <a class="icon-rounded-circle-small bg-info mr-2" href="javascript:void(0)">
                                                <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                                            </a>
                                            <a class="icon-rounded-circle-small bg-purple" href="javascript:void(0)">
                                                <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                                            </a>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal MUYIWA -->
<div class="modal fade" id="modal-MUYIWA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="bg-success rounded-top p-2">
                <h3 class="text-white font-weight-bold mb-0 ml-2">Details</h3>
            </div>
            <div class="border rounded-bottom-md border-top-0">
                <div class="">
                    <!-- ====================================
                    ———	TEACHERS DETAILS
                    ===================================== -->
                    <section class="py-3 py-md-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="image mb-5 mb-md-0">
                                        <img class="w-100 rounded" src="~/Content/Template/assets/img/ManagementTeam/management8(1).jpg" alt="team-6.jpg">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <h2 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">MUYIWA AFOLABI</h2>
                                    <h6 class="text-danger font-weight-bold text-capitalize pl-0 mb-5">GROUP HEAD, OPERATIONS</h6>
                                    <p class="text-muted mb-5">
                                        Mr.  Afolabi holds a Bachelor of Science degree in Business Administration from the University of Ilorin and MBA (Finance) from the Ladoke Akintola University, Oyo State. He is a member of the Nigerian Institute of Management (Chartered) which is the largest multi-disciplinary professional body in Africa, Certified Institute of Cost Management of Nigeria and the Certified Pension Institute of Nigeria.
                                        <br />
                                        <br />
                                        Muyiwa has over thirteen years’ experience in core areas of Operations in pension administration such as registration, contribution collection, benefits administration and customer relationship management.
                                        <br />
                                        <br />
                                        He commenced his career with the Group Life and Pension Department of AIICO Insurance PLC in 2002 moving to AIICO Pension Managers Limited in 2005. He left the Collection Contribution Unit under the Operations Department in 2007 to join the pilot staff team of Fidelity Pension Managers Limited (Operations and Information Technology Group at the time).
                                        <br />
                                        Muyiwa has at various times functioned as Head of Contributions and Deputy Head of Operations until 2017 when he was appointed to act as the Head of the Group.

                                    </p>
                                    
                                    <div class="mb-7">
                                        <a class="icon-rounded-circle-small bg-warning mr-2" href="javascript:void(0)">
                                            <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-success mr-2" href="javascript:void(0)">
                                            <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                                        </a>
                                        <a class="icon-rounded-circle-small bg-danger mr-2" href="javascript:void(0)">
                                            <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                                        </a>
                                        @*<a class="icon-rounded-circle-small bg-info mr-2" href="javascript:void(0)">
                                                <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                                            </a>
                                            <a class="icon-rounded-circle-small bg-purple" href="javascript:void(0)">
                                                <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                                            </a>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>