@{
    ViewBag.Title = "Programmed Withdrawal";
}

<section class="py-8 py-md-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h3><b>Programmed Withdrawal</b></h3>
                <p>Where balance in RSA is above N550,000, the retiree is eligible for a lump sum payment of not more than 50% and not less than 25% of total RSA balance and thereafter enrolled for Monthly/Quarterly payment on the basis of an expected lifespan.</p>
            </div>
            <div class="col-lg-5 col-sm-8 col-xs-12">

               
                    <div class="accordion" id="accordionOne">
                        <div class="card">
                            <div class="card-header bg-warning" id="headingOne">
                                <h5 class="icon-bg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span><a href="@Url.Action("ProgrammedWithdrawal", "Home")" class="text-white">Programmed Withdrawal</a></span>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse shadow-sm rounded-sm" aria-labelledby="headingOne" data-parent="#accordionOne">
                                <div class="card-body">
                                   
                                    <p class="mb-6">
                                        <h5>
                                            Where balance in RSA is above N550,000, the retiree is eligible for a lump sum payment of not more than 50% and not less than 25% of total RSA balance and thereafter enrolled for Monthly/Quarterly payment on the basis of an expected lifespan.
                                        </h5>
                                     </p>
                                   
                                    </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header bg-warning" id="headingTwo">
                                <h5 class="icon-bg collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span><a href="@Url.Action("TemporaryAccessToRSA", "Home")" class="text-white">Temporary Access To RSA (25%)</a></span>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse shadow-sm rounded-sm" aria-labelledby="headingTwo" data-parent="#accordionOne">
                                <div class="card-body">

                                    <p class="mb-6">
                                        <h5>
                                            <b>Loss of job:</b>
                                            A disengaged/unemployed RSA holder who hasn’t been gainfully employed for four months and have not attained age 50 is eligible to apply for a withdrawal of an amount not exceeding 25% of the balance in his /her Retirement Savings Account.
                                        </h5>
                                      </p>
                                    <h6><b>Medical Grounds</b></h6>
                                     <p>
                                         <h5>
                                             An RSA holder who is retired on medical ground i.e. due to total or permanent disability either of mind or body will qualify to access full retirement benefits not considering his/her age and can opt for any or a combination of the following benefit options as allowed under the Act or in line with the Regulations for the Administration of Retirement and Terminal Benefits:
                                         </h5>
                                              <ul>
                                            <h5>
                                                <li><b>En - bloc –</b> If balance in RSA is below N550,000, the total balance is to be paid to the RSA holder.</li>
                                                <li><b>Programmed Withdrawal –</b> Where balance in RSA is above N550,000, the retiree is eligible for a lump sum payment of not more than 50% and not less than 25% of total RSA balance and thereafter enrolled for Monthly/Quarterly payment on the basis of an expected lifespan.</li>
                                                <li><b>Annuity –</b> Instead of Programmed withdrawal, a retiree may decide to purchase an Annuity plan from a licensed Insurance company in line with guidelines jointly issued by the Commission and National Insurance Commission.</li>
                                            </h5>
                                      </ul>
                                        

                                    </p>

                                </div>
                            </div>
                        </div>

             
                    </div>
             
                </div>
            </div>
        </div>
          </section>                       