
@{
    ViewBag.Title = "Retirement Savings Account";
}

<section class="pt-7 pb-9 pt-md-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><b>Retirement Savings Account</b></h1>
                <br />
                <p>
                    <h5>
                        Every employee or contributor under the new pension scheme is expected to open RSA in his/her name with a PFA of his/her choice into which all his/her contributions and returns on investment are paid.
                        <br />
                        <br />
                        A Retirement Savings Account (RSA) is a pension account maintained with a Pension Fund Administrator (PFA) such as Fidelity Pension Managers, followed by the issuance of a distinctive Personal Identification Number (PIN) by the National Pension Commission (PenCom). Monthly contributions of employer and employee are paid. 10% Employer contribution and 8% Employee contribution.  An admin fee of N105 is charged by the PFA for managing your account.
                       </h5>
                </p>



            </div>
        </div>
</section>
