
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fidelity pension Managers | DashBoard</title>

    <link href="~/Areas/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Areas/Content/animate.css" rel="stylesheet">
    <link href="~/Areas/Content/style.css" rel="stylesheet">
    <style>
        .Login-bg-image {
            background-image: url('/Areas/Content/landing/53152858_1037945546392665_3419083109109334016_n.jpg'); /* The image used */
            /*background-color: #cccccc; /* Used if the image is unavailable */
            /*height: 500px; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: contain; /* Resize the background image to cover the entire container */
        }
    </style>
</head>

<body class="white-bg">
    <div class="text-center loginscreen  animated fadeInDown">
        <div class="row" style="background-image: url('../../../../Content/Template/assets/img/Fid3.jpg'); background-size: contain; background-repeat: no-repeat">

            <div class="col-md-8" style="padding: 220px 15px 250px 15px">


            </div>
            <div class="col-md-4">
                <div class="ibox-content" style="padding: 0px 15px 50px 15px">
                    <div style="padding: 0px 15px 60px 15px">
                        <img src="~/Content/Template/assets/img/fidpen_logo.png" width="150" class="pull-right" />
                    </div>
                    <img alt="image" class="img-circle center-block" src="~/Content/Template/assets/img/avator/default-avatar.png" width="148" height="148" />

                    <h3 style="color: #15332b">Customer</h3>
                    <a href="~/iPension/Account/EmployeeLogin">
                        <span class="btn btn-block btn-primary btn-rounded">Customer Login</span>
                    </a>
                    <hr />
                    <img alt="image" class="img-circle center-block" src="~/Content/Template/assets/img/avator/default-avatar.png" width="148" height="148" />

                    <h3 style="color: #15332b">Employer</h3>
                    <a href="~/iPension/Account/EmployerLogin">
                        <span class="btn btn-block btn-primary btn-rounded">Employer Login</span>
                    </a>


                    <p class="m-t" style="padding-top: 70px"> <small>Fidelity Pension Managers &copy; @DateTime.Now.Year</small> </p>


                </div>
            </div>
        </div>

    </div>



</body>

</html>